<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li class="active">Dashboard</li>
</ol>
<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Your meetings ({{meetings.length}})</h2>
        <div class="toolbar toolbar-top">
            <button class="btn btn-default" ng-click="nextMeetingOffset()"><i class="glyphicon glyphicon-chevron-left"></i> Previous</button>
            <button class="btn btn-default"  ng-click="previousMeetingOffset()">Next <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
        <div class="list-group">
            <a ng-href="#!/meeting/{{meeting.id}}" class="list-group-item list-group-hover list-group-item-{{inFuture(meeting.startDate) ? 'info' : (inFuture(meeting.endDate) ? 'success' : 'default')}}" ng-repeat="meeting in meetings | limitFromTo: getMeetingFrom():getMeetingTo()">
                <time datetime="{{meeting.startDate}}">{{convertTimestamp(meeting.startDate, "D")}}<br>{{convertTimestamp(meeting.startDate, "MMM")}}</time>
                <h4 class="list-group-item-heading">{{meeting.name}}</h4>
                <p class="list-group-item-text">{{convertTimestamp(meeting.startDate, 'HH:mm')}} till {{convertTimestamp(meeting.endDate, 'HH:mm')}}</p>
            </a>
        </div>
    </div>
</div>

