<div class="page-header">
    <h1>Documents <small>Overview</small></h1>
</div>
<div class="toolbar toolbar-top">
    <button ng-click="newDocument()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> New document</button>
</div>
<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
        <div class="pull-right">
            <span class="clickable filter" tooltip="Filter documents" ng-click="toggleFilter()">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
    <div class="panel-body" ng-hide="collapseFilter">
        <input type="text" class="form-control" id="grids-table-filter" placeholder="Filter documents" ng-model="searchText">
    </div>
    <table class="table table-bordered table-striped table-responsive" id="documentsList">
        <thead>
            <tr>
                <th>
                    <a ng-click="orderByField='id'; reverseSort = !reverseSort" title="Sort by ID">#</a>
                    <span ng-show="orderByField == 'id'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='title'; reverseSort = !reverseSort" title="Sort by title">Title</a>
                    <span ng-show="orderByField == 'title'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='type'; reverseSort = !reverseSort" title="Sort by type">Type</a>
                    <span ng-show="orderByField == 'type'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='ownedId'; reverseSort = !reverseSort" title="Sort by owner ID">Owner ID</a>
                    <span ng-show="orderByField == 'ownerId'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='creationDate'; reverseSort = !reverseSort" title="Sort by creation date">Creation date</a>
                    <span ng-show="orderByField == 'creationDate'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='modificationDate'; reverseSort = !reverseSort" title="Sort by modification date">Modification date</a>
                    <span ng-show="orderByField == 'modificationDate'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(index, document) in documentsList | orderBy:orderByField:reverseSort | filter:searchText">
                <td>{{document.id}}</td>
                <td><a href="document/{{document.id}}/">{{document.title}}</a></td>
                <td>{{document.type}}</td>
                <td>{{document.ownerId}}</td>
                <td>{{document.creationDate}}</td>
                <td>{{document.modificationDate}}</td>
                <td><button class="btn btn-danger btn-xs" ng-click="deleteDocument(index)" ng-show="allowDelete(document.ownerId)"><i class="glyphicon glyphicon-remove"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>