<div class="page-header">
    <h1>Documents<small>Overview</small></h1>
</div>
<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
        <div class="pull-right">
            <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
    <div class="panel-body">
        <input type="text" class="form-control" id="documents-table-filter" data-action="filter" data-filters="#documentsList" placeholder="Filter documents">
    </div>
    <table class="table table-bordered table-striped table-responsive" id="documentsList">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Type</th>
                <th>Owner</th>
                <th>Creation Date</th>
                <th>Modification Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="document in documentsList">
                <td>{{document.id}}</td>
                <td><a href="document/{{document.id}}/">{{document.title}}</a></td>
                <td>{{document.type}}</td>
                <td>{{document.ownerId}}</td>
                <td>{{document.creationDate}}</td>
                <td>{{document.modificationDate}}</td>
            </tr>
        </tbody>
    </table>
</div>