<div class="page-header">
    <h1>Grids <small>Overview</small></h1>
</div>
<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">Grids</h3>
        <div class="pull-right">
            <span class="clickable filter" tooltip="Filter grids" ng-click="toggleFilter()">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
    <div class="panel-body" collapse="collapseFilter">
        <input type="text" class="form-control" id="grids-table-filter" placeholder="Filter grids" ng-model="searchText">
    </div>
    <table class="table table-bordered table-striped table-responsive" id="gridList">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th># Regions</th>
                <th>Status</th>
                <th>Users</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="grid in gridsList | filter:searchText">
                <td>{{grid.id}}</td>
                <td><a href="grid/{{grid.id}}/">{{grid.name}}</a></td>
                <td><a href="opensim://{{grid.openSim.ip}}:{{grid.openSim.port}}/{{urlEncode(grid.regions[grid.defaultRegionUuid].name)}}/128/128/0">{{grid.openSim.protocol}}://{{grid.openSim.ip}}:{{grid.openSim.port}}</a></td>
                <td>{{grid.regionCount}}</td>
                <td>
                    <span class="label label-success" ng-show="{{grid.isOnline}}">Online</span>
                    <span class="label label-danger" ng-hide="{{grid.isOnline}}">Offline</span>
                </td>
                <td ng-show="{{grid.isOnline}}">{{grid.activeUsers}} / {{grid.totalUsers}}</td>
                <td ng-hide="{{grid.isOnline}}">unknown</td>
            </tr>
        </tbody>
    </table>
</div>