<div class="page-header">
    <h1>OpenSim-CMS <small>RESTful client</small></h1>
    <p class="lead">This client uses JavaScript to access the OpenSim-CMS API. </p>
</div>
<p>
    For a full documentation of the used API see <a href="https://www.github.com/nielswitte/OpenSim-CMS/" target="_blank">https://www.github.com/nielswitte/OpenSim-CMS/</a>.
    This CMS allows you to use the functions of the API to set up a meeting in the virtual environment of OpenSim. This CMS is part of my Master Thesis with the subject of
    <i>"Develop a Content Management System to Increase the Usability of a 3D Virtual Environment"</i>.
</p>
<p>
    The system is based on a client server setting. The server provides a RESTful JSON API with a back-end build in <a href="http://www.php.net" target="_blank">PHP</a>
    and <a href="http://www.mysql.net" target="_blank">MySQL</a>. The client front-end is build in <a href="http://www.angularjs.org" target="_blank">AngularJS</a> with the
    <a href="https://github.com/mgonto/restangular" target="_blank">Restangular</a> service and <a href="http://getbootstrap.com/" target="_blank">Boostrap</a> combined with
    support from <a href="http://mgcrea.github.io/angular-strap/" target="_blank">Angular-Strap</a>, <a href="http://jquery.com/" target="_blank">jQuery</a>,
    <a href="http://lesscss.org/" target="_blank">LessCSS</a> and others.
</p>
<p>
    Additional credits for the people who made the following libraries available:
</p>
<ul>
    <li>Mgonto for Restangular (<a href="https://github.com/mgonto/restangular" target="_blank">https://github.com/mgonto/restangular</a>)</li>
    <li>
        Mgcrea for Angular-Strap (<a href="https://github.com/mgcrea/angular-strap" target="_blank">https://github.com/mgcrea/angular-strap</a>)
        and Angular-Motion (<a href="http://mgcrea.github.io/angular-motion/" target="_blank">http://mgcrea.github.io/angular-motion/</a>)
    </li>
    <li>Serhioromano for Bootstrap-calendar (<a href="https://github.com/Serhioromano/bootstrap-calendar" target="_blank">https://github.com/Serhioromano/bootstrap-calendar</a>)</li>
    <li>Tobiasahlin for SpinKit (<a href="https://github.com/tobiasahlin/SpinKit" target="_blank">https://github.com/tobiasahlin/SpinKit</a>)</li>
    <li>Ivaynberg for Select2 (<a href="https://github.com/ivaynberg/select2" target="_blank">https://github.com/ivaynberg/select2</a>)</li>
    <li>Moment (<a href="https://github.com/moment/moment" target="_blank">https://github.com/moment/moment</a>)</li>
    <li>Jashkenas for Underscore (<a href="https://github.com/jashkenas/underscore" target="_blank">https://github.com/jashkenas/underscore</a>)</li>
    <li>Evilstreak for markdown-js (<a href="https://github.com/evilstreak/markdown-js" target="_blank">https://github.com/evilstreak/markdown-js</a>)</li>
</ul>
