<form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>
<!-- Show when signed in -->
    <input type="text" class="form-control" placeholder="Username" disabled required autofocus ng-model="user.username" ng-show="{{isLoggedIn}}">
    <input type="password" class="form-control" placeholder="Password" disabled required ng-model="user.password" ng-show="{{isLoggedIn}}">
    <button class="btn btn-lg btn-primary btn-block btn-disabled" type="submit" disabled ng-click="login(user)" ng-show="{{isLoggedIn}}">Sign in</button>

<!-- Show when NOT signed in -->
    <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="user.username" ng-hide="{{isLoggedIn}}">
    <input type="password" class="form-control" placeholder="Password" required ng-model="user.password" ng-hide="{{isLoggedIn}}">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)" ng-hide="{{isLoggedIn}}">Sign in</button>
</form>