<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li class="active">Login</li>
</ol>
<!-- Show when signed in -->
<form class="form-signin" role="form" ng-show="{{isLoggedIn}}">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Username or E-mail address" disabled required autofocus>
    <input type="password" class="form-control" placeholder="Password" disabled required>
    <button class="btn btn-lg btn-primary btn-block btn-disabled" type="submit" disabled>Sign in</button>
</form>

<!-- Show when NOT signed in -->
<form class="form-signin" role="form" autocomplete="on" ng-hide="{{isLoggedIn}}" ng-submit="login(user)">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input id="LoginUsername" type="text" name="user" class="form-control" placeholder="Username or E-mail address" required autofocus ng-model="user.user">
    <input id="LoginPassword" type="password" name="password" class="form-control" placeholder="Password" required ng-model="user.password">
    <button type="submit" name="submitlogin" class="btn btn-lg btn-primary btn-block"><i class="glyphicon glyphicon-log-in"></i> Sign in</button>
</form>