<div class="page-header">
    <h1>Users <small>Overview</small></h1>
</div>
<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
        <div class="pull-right">
            <span class="clickable filter" tooltip="Filter users" ng-click="toggleFilter()">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
    <div class="panel-body" collapse="collapseFilter">
        <input type="text" class="form-control" id="grids-table-filter" placeholder="Filter users" ng-model="searchText">
    </div>
    <table class="table table-bordered table-striped table-responsive" id="userList">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(index, user) in usersList | filter: searchText">
                <td>{{user.id}}</td>
                <td><a href="user/{{user.id}}/">{{user.username}}</a></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>

