<a href="{{$location.path()}}" class="btn-link dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
<ul class="dropdown-menu" ng-controller="loginController">
    <li>
        <div class="navbar-content">
            <div class="row">
                <div class="col-md-5">
                    <img src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="Alternate Text" class="img-responsive" />
                    <p class="text-center small"><a href="#">Change Photo</a></p>
                </div>
                <div class="col-md-7">
                    <span id="loginUsername">{{user.username}}</span>
                    <p class="text-muted small" id="loginUserEmail">{{user.email}}</p>
                    <div class="divider"></div>
                    <a href="{{base_url}}/cms/user/{{user.userId}}/" class="btn btn-primary btn-sm">View Profile</a>
                </div>
            </div>
        </div>
        <div class="navbar-footer">
            <div class="navbar-footer-content">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-default btn-sm">Change Password</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default btn-sm pull-right" ng-click="logout()">Sign Out</button>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>