<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In<b class="caret"></b></a>
<ul class="dropdown-menu" ng-controller="loginController">
    <li>
        <form class="form-horizontal" id="loginForm" autocomplete="on">
            <div class="navbar-content">
                <div class="row">
                    <div class="form-group">
                        <label for="LoginUsername" class="col-sm-4 control-label">Username</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="LoginUsername" placeholder="username" ng-model="user.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LoginPassword" class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="LoginPassword" placeholder="password" ng-model="user.password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-footer">
                <div class="navbar-footer-content">
                    <div class="row">
                        <div class="col-md-11">
                            <button class="btn btn-primary btn-sm" ng-click="login(user)">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </li>
</ul>