<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li class="active">Grids</li>
</ol>
<div class="page-header">
    <h1>Grids <small>Overview</small></h1>
</div>
<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">Grids</h3>
        <div class="pull-right">
            <span class="clickable filter" tooltip="Filter grids" ng-click="toggleFilter()">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
    <div class="panel-body" ng-hide="collapseFilter">
        <input type="text" class="form-control" id="grids-table-filter" placeholder="Filter grids" ng-model="searchText">
    </div>
    <table class="table table-bordered table-striped table-responsive table-hover" id="gridList">
        <thead>
            <tr>
                <th>
                    <a ng-click="orderByField='id'; reverseSort = !reverseSort" title="Sort by ID">#</a>
                    <span ng-show="orderByField == 'id'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='name'; reverseSort = !reverseSort" title="Sort by name">Name</a>
                    <span ng-show="orderByField == 'name'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='openSim.ip'; reverseSort = !reverseSort" title="Sort by address">Address</a>
                    <span ng-show="orderByField == 'openSim.ip'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='regionCount'; reverseSort = !reverseSort" title="Sort by number of regions"># Regions</a>
                    <span ng-show="orderByField == 'regionCount'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='isOnline'; reverseSort = !reverseSort" title="Sort by status">Status</a>
                    <span ng-show="orderByField == 'isOnline'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='totalUsers'; reverseSort = !reverseSort" title="Sort by total number of users">Users</a>
                    <span ng-show="orderByField == 'totalUsers'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="grid in gridsList | orderBy:orderByField:reverseSort | filter:searchText">
                <td>{{grid.id}}</td>
                <td><a href="grid/{{grid.id}}/">{{grid.name}}</a></td>
                <td><a ng-href="opensim://{{grid.openSim.ip}}:{{grid.openSim.port}}/{{urlEncode(grid.regions[findRegionIndexByUuid(grid, grid.defaultRegionUuid)].name)}}/128/128/0">{{grid.openSim.protocol}}://{{grid.openSim.ip}}:{{grid.openSim.port}}</a></td>
                <td>{{grid.regionCount}}</td>
                <td>
                    <span class="label label-success" ng-show="{{grid.isOnline}}">Online</span>
                    <span class="label label-danger" ng-hide="{{grid.isOnline}}">Offline</span>
                </td>
                <td>
                    <span ng-show="{{grid.isOnline}}">{{grid.activeUsers}} / {{grid.totalUsers}}</span>
                    <span ng-hide="{{grid.isOnline}}">unknown</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>