<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li><a href="#!/groups">Users</a></li>
    <li><a ng-href="#!/group/{{group.id}}">{{group.name}}</a></li>
    <li class="active">Edit</li>
</ol>
<div class="page-header">
    <h1>Group <small>{{group.name}}</small></h1>
</div>
<form class="form-horizontal" role="form" id="userForm" ng-submit="updateGroup()">
    <div class="form-group">
        <label class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{group.id}}</p>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="inputGroupName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputGroupName" ng-model="group.name" required placeholder="Group name">
        </div>
    </div>

    <fieldset>
        <legend>Documents (<span>{{group.files.length}}</span>)</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">Documents</label>
            <div class="col-sm-10">
                <ul class="list-group list-group-hover" ng-show="group.files.length >= 1">
                    <li class="list-group-item" ng-repeat="file in group.files">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="removeDocument(file.id)"><i class="glyphicon glyphicon-remove"></i></button>
                        <span class="label label-default">{{file.type}}</span> {{file.title}} <small>({{file.creationDate}})</small>
                    </li>
                </ul>
                <ul class="list-group" ng-show="group.files.length == 0">
                    <li class="list-group-item">None</li>
                </ul>
                <div class="input-group">
                    <input type="text" class="form-control" value="" key-field="id" text-field="title" placeholder="Document to add" ng-model="document" ng-options="document.title as document.title for document in getDocumentByTitle($viewValue)" bs-typeahead>
                    <span class="input-group-btn" ng-click="addDocument()"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add document</button></span>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Users (<span>{{group.users.length}}</span>)</legend>
        <div class="form-group">
            <label class="col-sm-2 control-label">Users</label>
            <div class="col-sm-10">
                <ul class="list-group list-group-hover" ng-show="group.users.length >= 1">
                    <li class="list-group-item" ng-repeat="user in group.users">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="removeUser(user.id)"><i class="glyphicon glyphicon-remove"></i></button>
                        {{user.username}} ({{user.firstName}} {{user.lastName}})
                    </li>
                </ul>
                <ul class="list-group" ng-show="grou.users.length == 0">
                    <li class="list-group-item">None</li>
                </ul>
                <div class="input-group">
                    <input type="text" class="form-control" value="" placeholder="Username to add" ng-model="user" ng-options="user.username as user.username for user in getUserByUsername($viewValue)" bs-typeahead>
                    <span class="input-group-btn" ng-click="addUser()"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add user</button></span>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" ng-show="allowUpdate()">
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok"></i> Save Changes</button>
            <button class="btn btn-danger" type="button" ng-click="resetGroup()"><i class="glyphicon glyphicon-remove"></i> Reset</button>
        </div>
    </div>
</form>