<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li class="active">Groups</li>
</ol>
<div class="page-header">
    <h1>Groups <small>Overview</small></h1>
</div>
<div class="toolbar toolbar-top">
    <button ng-click="newGroup()" class="btn btn-default" ng-show="allowCreate()"><i class="glyphicon glyphicon-plus"></i> New group</button>
    
    <div class="input-group col-sm-3 pull-right">
        <input type="text" class="form-control" value="" placeholder="Search for group" ng-model="groupBySearch" ng-options="group.name as group.name for group in getGroupByName($viewValue)" bs-typeahead>
        <span class="input-group-btn" ng-click="selectGroup()"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> View</button></span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">Groups</h3>
        <div class="pull-right">
            <span class="clickable filter" tooltip="Filter groups" ng-click="toggleFilter()">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
    <div class="panel-body" ng-hide="collapseFilter">
        <input type="text" class="form-control" id="groups-table-filter" placeholder="Filter groups" ng-model="searchText">
    </div>
    <table class="table table-bordered table-striped table-responsive table-hover" id="groupList">
        <thead>
            <tr>
                <th class="col-sm-1">
                    <a ng-click="orderByField='id'; reverseSort = !reverseSort" title="Sort by ID">#</a>
                    <span ng-show="orderByField == 'id'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='name'; reverseSort = !reverseSort" title="Sort by name">Name</a>
                    <span ng-show="orderByField == 'name'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th class="col-sm-2"> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(index, group) in groupsList | orderBy:orderByField:reverseSort | filter: searchText">
                <td>{{group.id}}</td>
                <td><a href="#!/group/{{group.id}}">{{group.name}}</a></td>
                <td>
                    <a ng-href="#!/group/{{group.id}}/edit" class="btn btn-default btn-xs" title="Edit group" ng-show="allowUpdate(group.id)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                    <button class="btn btn-danger btn-xs" confirmed-click="deleteGroup(index)" ng-confirm-click="Are you sure you want to delete {{group.name}}?" ng-show="allowDelete(group.id)" title="Delete group"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-include src="showPagination()"></div>

