<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li><a href="#!/users">Users</a></li>
    <li class="active">{{user.username}}</li>
</ol>
<div class="page-header">
    <h1>User <small>{{user.username}}</small></h1>
</div>
<div class="toolbar toolbar-top" ng-show="allowUpdate()">
    <a ng-href="#!/user/{{user.id}}/edit" type="button" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit user</a>
    <a ng-click="changePasswordForm()" type="button" class="btn btn-default"><i class="glyphicon glyphicon-lock"></i> Change password</a>
    <a ng-click="changePictureForm()" type="button" class="btn btn-default"><i class="glyphicon glyphicon-picture"></i> Change profile picture</a>
</div>
<form class="form-horizontal" role="form" id="userForm" ng-submit="updateUser()">
    <div class="form-group">
        <label class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.id}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.username}}</p>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label class="col-sm-2 control-label">First name</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.firstName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.lastName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">E-mail address</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.email}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last login</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.lastLogin}}</p>
        </div>
    </div>
    <fieldset>
        <legend>Permissions</legend>
        <div class="form-group" ng-show="allowPermissions()" ng-repeat="(type, permission) in user.permissions">
            <label class="col-sm-2 control-label">{{type}}</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-model="user.permissions[type]" bs-radio-group>
                    <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="0"> None</label>
                    <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="4"> Read</label>
                    <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="5"> Execute</label>
                    <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="6"> Write</label>
                    <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="7"> All</label>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<h2>Avatars (<span id="avatarCount">{{user.avatarCount}}</span>)</h2>
<div class="toolbar toolbar-top" ng-show="allowCreate()">
    <button ng-click="newAvatar()" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> New avatar</button>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 avatar" ng-repeat="(index, avatar) in user.avatars">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="label label-success" ng-show="{{avatar.online}} == 1">Online</span>
                    <span class="label label-danger" ng-show="{{avatar.online}} == 0">Offline</span>
                    {{avatar.firstName}} {{avatar.lastName}}
                </h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li><strong>Uuid:</strong> {{avatar.uuid}}</li>
                    <li><strong>E-mail address:</strong> {{avatar.email}}</li>
                    <li><strong>Grid:</strong> <a href="grid/{{avatar.gridId}}/">{{avatar.gridName}}</a></li>
                    <li>
                        <strong>Confirmed:</strong>
                        <span class="confirmationStatus" ng-show="isConfirmed(index)">Yes</span>
                        <span class="confirmationStatus" ng-hide="isConfirmed(index)">No</span>
                    </li>
                    <li><strong>Last Login:</strong> {{avatar.lastLogin}}</li>
                    <li><strong>Last Region:</strong> {{avatar.lastRegion}}</li>
                    <li><strong>Last Position:</strong> {{avatar.lastPosition}}</li>
                </ul>
            </div>
            <div class="panel-footer text-center" ng-show="allowUpdate()">
                <button type="button" class="confirmAvatar btn btn-success btn-sm" ng-click="confirmAvatar(index, avatar)" ng-hide="isConfirmed(index)"><i class="glyphicon glyphicon-ok"></i> Confirm</button>
                <button type="button" class="removeAvatar btn btn-danger btn-sm" ng-click="unlinkAvatar(index, avatar)"><i class="glyphicon glyphicon-remove"></i> Unlink</button>
            </div>
        </div>
    </div>
</div>
