<div class="page-header">
    <h1>User <small>{{user.username}}</small></h1>
</div>
<form class="form-horizontal" role="form" id="userForm" ng-submit="updateUser()">
    <div class="form-group">
        <label for="inputId" class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.id}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{user.username}}</p>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="inputFirstName" class="col-sm-2 control-label">First name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputFirstName" ng-model="user.firstName" required placeholder="First name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputLastName" class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLastName" ng-model="user.lastName" required placeholder="Last name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">E-mail address</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" ng-model="user.email" required placeholder="E-mail address">
        </div>
    </div>
    <div class="form-group" ng-show="allowPermissions()">
        <label class="col-sm-2 control-label">Permissions</label>
        <div class="col-sm-10">
            <table>
                <tr ng-repeat="(type, permission) in user.permissions">
                    <th class="col-sm-3">{{type}}</th>
                    <td>
                        <div class="btn-group" ng-model="user.permissions[type]" bs-radio-group>
                            <label class="btn btn-default"><input type="radio" class="btn btn-default" value="0"> None</label>
                            <label class="btn btn-default"><input type="radio" class="btn btn-default" value="4"> Read</label>
                            <label class="btn btn-default"><input type="radio" class="btn btn-default" value="5"> Execute</label>
                            <label class="btn btn-default"><input type="radio" class="btn btn-default" value="6"> Write</label>
                            <label class="btn btn-default"><input type="radio" class="btn btn-default" value="7"> All</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" ng-show="allowUpdate()">
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok"></i> Save Changes</button>
            <button class="btn btn-danger" type="button" ng-click="resetUser()"><i class="glyphicon glyphicon-remove"></i> Reset</button>
        </div>
    </div>
    <fieldset id="avatars">
        <legend>Avatars (<span id="avatarCount">{{user.avatarCount}}</span>)</legend>
        <div class="toolbar toolbar-top" ng-show="allowCreate()">
            <button ng-click="newAvatar()" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> New avatar</button>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 avatar" ng-repeat="(index, avatar) in user.avatars">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="label label-success" ng-show="{{avatar.online}} == 1">Online</span>
                            <span class="label label-danger" ng-show="{{avatar.online}} == 0">Offline</span>
                            {{avatar.firstName}} {{avatar.lastName}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><strong>Uuid:</strong> {{avatar.uuid}}</li>
                            <li><strong>E-mail address:</strong> {{avatar.email}}</li>
                            <li><strong>Grid:</strong> <a href="grid/{{avatar.gridId}}/">{{avatar.gridName}}</a></li>
                            <li>
                                <strong>Confirmed:</strong>
                                <span class="confirmationStatus" ng-show="isConfirmed(index)">Yes</span>
                                <span class="confirmationStatus" ng-hide="isConfirmed(index)">No</span>
                            </li>
                            <li><strong>Last Login:</strong> {{avatar.lastLogin}}</li>
                            <li><strong>Last Region:</strong> {{avatar.lastRegion}}</li>
                            <li><strong>Last Position:</strong> {{avatar.lastPosition}}</li>
                        </ul>
                    </div>
                    <div class="panel-footer text-center" ng-show="allowUpdate()">
                        <button type="button" class="confirmAvatar btn btn-success btn-sm" ng-click="confirmAvatar(index, avatar)" ng-hide="isConfirmed(index)"><i class="glyphicon glyphicon-ok"></i> Confirm</button>
                        <button type="button" class="removeAvatar btn btn-danger btn-sm" ng-click="unlinkAvatar(index, avatar)"><i class="glyphicon glyphicon-remove"></i> Unlink</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>