<div class="page-header">
    <h1>User <small>{{user.username}}</small></h1>
</div>
<div class="toolbar toolbar-top" ng-show="allowCreate()">
    <a ng-href="#!/user/{{user.id}}/edit" type="button" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit user</a>
</div>
<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>ID</th>
        <td>{{user.id}}</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <th>First name</th>
        <td>{{user.firstName}}</td>
    </tr>
    <tr>
        <th>Last name</th>
        <td>{{user.lastName}}</td>
    </tr>
    <tr>
        <th>E-mail address</th>
        <td><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td>
    </tr>
    <tr>
        <th>Permissions</th>
        <td>
             <table>
                <tr ng-repeat="(type, permission) in user.permissions">
                    <th class="col-sm-3">{{type}}</th>
                    <td>
                        <div class="btn-group" ng-model="user.permissions[type]" bs-radio-group>
                            <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="0"> None</label>
                            <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="4"> Read</label>
                            <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="5"> Execute</label>
                            <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="6"> Write</label>
                            <label class="btn btn-default"><input type="radio" name="permission_{{type}}" class="btn btn-default" disabled value="7"> All</label>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<h2>Avatars (<span id="avatarCount">{{user.avatarCount}}</span>)</h2>
<div class="row">
    <div class="col-sm-6 col-md-6 avatar" ng-repeat="(index, avatar) in user.avatars">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="label label-success" ng-show="{{avatar.online}} == 1">Online</span>
                    <span class="label label-danger" ng-show="{{avatar.online}} == 0">Offline</span>
                    {{avatar.firstName}} {{avatar.lastName}}
                </h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li><strong>Uuid:</strong> {{avatar.uuid}}</li>
                    <li><strong>E-mail address:</strong> {{avatar.email}}</li>
                    <li><strong>Grid:</strong> <a href="grid/{{avatar.gridId}}/">{{avatar.gridName}}</a></li>
                    <li>
                        <strong>Confirmed:</strong>
                        <span class="confirmationStatus" ng-show="isConfirmed(index)">Yes</span>
                        <span class="confirmationStatus" ng-hide="isConfirmed(index)">No</span>
                    </li>
                    <li><strong>Last Login:</strong> {{avatar.lastLogin}}</li>
                    <li><strong>Last Region:</strong> {{avatar.lastRegion}}</li>
                    <li><strong>Last Position:</strong> {{avatar.lastPosition}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>