<div class="aside right am-fade-and-slide-right" tabindex="-1" role="dialog" style="display: block;">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="aside-title">Chat</h4>
            </div>
            <div class="aside-body">
                Select the grid from the list to chat with
                <div class="form-group">
                    <select class="form-control" ng-options="grid.id as grid.name for grid in grids" ng-model="selectedGridId" ng-change="selectGrid(selectedGridId)"></select>
                </div>
                <hr>
                <div class="messages">
                    <p ng-repeat="(index, chat) in chats">
                        <span ng-show="chat.user.id == 0" class="label label-info">{{timeOnly(chat.timestamp)}}</span>
                        <span ng-hide="chat.user.id == 0" class="label label-default">{{timeOnly(chat.timestamp)}}</span>
                        <strong>{{chat.user.username}}:</strong><br>
                        {{chat.message}}
                    </p>
                </div>
            </div>
            <div class="aside-footer">
                <div class="input-group">
                    <input type="text" class="form-control" value="" placeholder="Message" ng-model="message">
                    <span class="input-group-btn" ng-click="sendChat(selectedGridId, message)"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-cChat"></i> Send</button></span>
                </div>
            </div>
        </div>
    </div>
</div>