body {
    min-height: 500px;
    padding-top: 70px;
}

#calendar {
    margin-top: 25px;
}

// Login form
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-signin-heading {
        margin-bottom: 10px;
    }

    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        &:focus {
            z-index: 2;
        }
    }
    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

// Toolbars
.toolbar {
    &.toolbar-top {
        margin-bottom: 15px;
    }
}

// Filters for table lists
.filter {
    .row{
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable{
        cursor: pointer;
    }

    .panel-heading {
        div {
            margin-top: -18px;
            font-size: 15px;
            span{
                margin-left: 5px;
            }
        }
    }
}

// Region thumbnail images
#regionThumbs {
    div.region {
        min-height: 500px;
    }
}

// Slide thumbnails
div.thumbnail {
    a.btn {
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
    }
}

// Loading animation
#loading {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1900;
    background-color: white;

    /**
     * Loading animation
     * @source: https://github.com/tobiasahlin/SpinKit
     */
    .spinner {
        margin: 15% auto 100px auto;
        width: 32px;
        height: 32px;
        position: relative;
    }

    .cube1, .cube2 {
        background-color: #428bca;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: cubemove 1.8s infinite ease-in-out;
        animation: cubemove 1.8s infinite ease-in-out;
    }

    .cube2 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    @-webkit-keyframes cubemove {
        25% { -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5) }
        50% { -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg) }
        75% { -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5) }
        100% { -webkit-transform: rotate(-360deg) }
    }

    @keyframes cubemove {
        25% {
            transform: translateX(42px) rotate(-90deg) scale(0.5);
            -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        } 50% {
            /* Hack to make FF rotate in the right direction */
            transform: translateX(42px) translateY(42px) rotate(-179deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
            transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
            -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        } 100% {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
        }
    }
}

// Custom Bootstrap Alerts
#alerts {
    position: fixed;
    z-index: 2000;
    top: 60px;
    right: 0;
    width: 25%;
    min-width: 150px;

    .alert {
        &.top-right {
            float: right;
            clear: both;
        }
    }
}

.alert {
    width: 100%;


    &.top,
    &.top-left,
    &.top-right {
        position: relative;
        top: 0px;
        z-index: 1050;
        margin: 10px 20px;
    }

    &.top {
        right: 0;
        left: 0;
    }

    &.top-right {
        right: 0;

        .close {
            padding-left: 10px
        }
    }

    &.top-left {
        left: 0;
        .close {
            padding-right: 10px;
        }
    }
}

// Bootstrap-calendar overwrites
#calendar {
    .events-list {
        overflow: visible !important;

        .tooltip {
            min-width: 100px;
        }
    }
}

.calendar-container {
    overflow-y: scroll;
    height: 550px;

    #calendar {
        div.day-event {
            position: absolute;
        }
    }
}

// Modal dialogs
.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

// Time and Date pickers
.timepicker,
.datepicker {
    tbody {
        button.btn-default {
            border: none;
        }
    }
}

.list-group {
    &.list-group-hover {
        .list-group-item:hover {
            background-color: #e8e8e8;
        }
    }

    .list-group-item {
        button { float: right; }
    }
}

// Agenda list
ol {
    counter-reset: item;
    margin: 0;
    padding: 0;
    font-weight: bold;

    li {
        display: block;

        &:before {
            content: counters(item, ".") " ";
            counter-increment: item;
        }
    }

    ol {
        font-weight: normal;
        margin-left: 20px;
    }
}

// Alternating rows
.row {
    &.row-striped {
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }
        &:nth-child(even) {
            background-color: #ffffff;
        }
    }

    &.row-hover:hover {
        background-color: #e8e8e8;
    }
}

// Minutes and comments
#minutes,
#comments{
    div.row {
        div.minute,
        div.comment {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.heading-numbers {
    counter-reset: h2;
    h2 { counter-reset: h3; }
    h3 { counter-reset: h4; }
    h4 { counter-reset: h5; }
    h5 { counter-reset: h6; }

    h2:before { counter-increment: h2; content: counter(h2) ". "; }
    h3:before { counter-increment: h3; content: counter(h2) "." counter(h3) ". "; }
    h4:before { counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "; }
    h5:before { counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; }
    h6:before { counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "; }
}

// Chat button
#chat-button {
    position: fixed;
    top: 200px;
    right: 0;
}

// Chatbox
#chatAside {
    max-height: 500px;
    top: auto;
    bottom: 0;
    max-width: 320px;
    box-shadow: 0px 0px 10px #999999;

    .aside-header {
        &.highlight {
            background-color: #5cb85c;
        }

        .minimize {
            color: #fff;
            text-shadow: 0 1px 0 #fff;
            font-size: 15px;
            font-weight: 700;
            line-height: 1;
            opacity: .8;
            padding: 9px 8px;
            margin-right: -8px;
            cursor: pointer;
            background: 0 0;
            border: 0;
            -webkit-appearance: none;
            float: right;
        }

        .minimize,
        .close {
            &:hover {
                opacity: 1.0;
            }
        }
    }

    .aside-body {
        .messages {
            overflow-y: scroll;
            height: 220px;
        }
    }
}

// Progress bar
.progress {
    .progress-bar {
        &.progress-bar-default {
            background-color: #999;
        }
    }
}