<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<%= moment(event.start).format('HH:mm') %> - <%= moment(event.end).format('HH:mm') %>
                <a href="#!/meeting/<%= event.id %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item bsDialog">
					<%= event.title %>
                </a>
			</li>
		<% }) %>
	</ul>
</div>
