<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li class="active">Documents</li>
</ol>
<div class="page-header">
    <h1>Documents <small>Overview</small></h1>
</div>
<div class="toolbar toolbar-top" ng-show="allowCreate()">
    <button ng-click="newDocument()" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> New document</button>
    <button ng-click="clearExpiredCache()" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-remove"></i> Clear expired cache</button>

    <div class="input-group col-sm-3 pull-right">
        <input type="text" class="form-control" value="" placeholder="Search for title" ng-model="documentBySearch" ng-options="document.title as document.title for document in getDocumentByTitle($viewValue)" bs-typeahead>
        <span class="input-group-btn" ng-click="selectDocument()"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> View</button></span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel panel-primary filter">
    <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
        <div class="pull-right">
            <span class="clickable filter" tooltip="Filter documents" ng-click="toggleFilter()">
                <i class="glyphicon glyphicon-filter"></i>
            </span>
        </div>
    </div>
    <div class="panel-body" ng-hide="collapseFilter">
        <input type="text" class="form-control" id="documents-table-filter" placeholder="Filter documents" ng-model="searchText">
    </div>
    <table class="table table-bordered table-striped table-responsive table-hover" id="documentsList">
        <thead>
            <tr>
                <th class="col-sm-1">
                    <a ng-click="orderByField='id'; reverseSort = !reverseSort" title="Sort by ID">#</a>
                    <span ng-show="orderByField == 'id'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='title'; reverseSort = !reverseSort" title="Sort by title">Title</a>
                    <span ng-show="orderByField == 'title'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='user.username'; reverseSort = !reverseSort" title="Sort by owner">Owner</a>
                    <span ng-show="orderByField == 'user.username'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='creationDate'; reverseSort = !reverseSort" title="Sort by creation date">Creation date</a>
                    <span ng-show="orderByField == 'creationDate'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th>
                    <a ng-click="orderByField='modificationDate'; reverseSort = !reverseSort" title="Sort by modification date">Modification date</a>
                    <span ng-show="orderByField == 'modificationDate'">
                        <i class="glyphicon glyphicon-chevron-up" ng-hide="reverseSort"></i>
                        <i class="glyphicon glyphicon-chevron-down" ng-show="reverseSort"></i>
                    </span>
                </th>
                <th class="col-sm-1"> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(index, document) in documentsList | orderBy:orderByField:reverseSort | filter:searchText">
                <td>{{document.id}}</td>
                <td>
                    <span title="{{document.type}}" bs-tooltip>
                        <span class="label label-primary" ng-show="document.type == 'presentation'"><i class="glyphicon glyphicon-th-large"></i></span>
                        <span class="label label-info" ng-show="document.type == 'document'"><i class="glyphicon glyphicon-file"></i></span>
                        <span class="label label-danger" ng-show="document.type == 'image'"><i class="glyphicon glyphicon-picture"></i></span>
                    </span>
                    <a ng-href="#!/document/{{document.id}}">{{document.title}}</a>
                </td>
                <td><a ng-href="#!/user/{{document.user.id}}">{{document.user.username}} ({{document.user.firstName}} {{document.user.lastName}})</a></td>
                <td>{{document.creationDate}}</td>
                <td>{{document.modificationDate}}</td>
                <td><button class="btn btn-danger btn-xs" confirmed-click="deleteDocument(document.id)" ng-confirm-click="Are you sure you want to delete {{document.title}}?" ng-show="allowDelete(document.user.id)"><i class="glyphicon glyphicon-trash"></i> Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-include src="showPagination()"></div>