<div class="page-header">
    <h1>Slide <small>{{slide.number}}</small></h1>
</div>
<div class="toolbar toolbar-top">
    <button ng-click="previousSlide()" type="button" class="btn btn-default" ng-show="slide.number > 1"><i class="glyphicon glyphicon-chevron-left"></i> Previous</button>
    <button ng-click="nextSlide()" type="button" class="btn btn-default">Next <i class="glyphicon glyphicon-chevron-right"></i></button>
</div>
<div class="row">
    <div class="col-sm-12">
        <img src="templates/restangular/img/img-placeholder.png" ng-src="{{getSlideImage()}}" class="img-responsive img-thumbnail" alt="Slide {{slide.number}}">
    </div>
</div>
<div id="comments">
    <h2>Comments ({{comments.length}})</h2>
    <div class="row row-striped row-hover" ng-repeat="comment in comments">
        <div class="col-sm-2 comment">
            <span class="label label-info">{{minute.timestamp}}</span>
            <strong><a ng-href="#!/user/{{comment.user.id}}" title="View profile of user {{comment.user.username}}" bs-tooltip>{{comment.user.firstName}} {{comment.user.lastName}}</a></strong>
        </div>
        <div class="col-sm-10 comment">{{comment.message}}</div>
    </div>
</div>