<header>
    <div class="pull-right">
        <span class="number">#{{comment.number}}</span>
        <button type="button" class="btn btn-default btn-xs" ng-click="newComment(comment.id)" ng-show="allowComments()"><i class="glyphicon glyphicon-comment"></i> Reply</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="editComment(comment.id)" ng-show="allowCommentUpdate(comment.user.id)"><i class="glyphicon glyphicon-edit"></i> Edit</button>
        <button type="button" class="btn btn-danger btn-xs" confirmed-click="deleteComment(comment.id)" ng-confirm-click="Are you sure you want to delete comment #{{comment.number}} by {{comment.user.username}}? All replies to this comment will also be removed!" ng-show="allowCommentDelete(comment.user.id)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
    <img src="templates/restangular/img/profile_picture.jpg" ng-src="{{comment.user.picture !== false ? comment.user.picture +'?token='+ token : ''}}" class="img-thumbnail img-picture">
    <a ng-href="#!/user/{{comment.user.id}}" bs-tooltip title="Profile of {{comment.user.username}}">{{comment.user.username}} ({{comment.user.firstName}} {{comment.user.lastName}})</a><br>
    <time>{{comment.timestamp}}</time>
    <div class="clearfix"></div>
</header>
<span ng-bind-html="markdown(comment.message)" class="message" data-message="{{comment.message}}" ng-hide="showUpdateForm(comment.id)"></span>
<span class="edited" ng-show="comment.editTimestamp && !showUpdateForm(comment.id)">Edited: {{comment.editTimestamp}}</span>
<form ng-submit="updateComment(comment.id)" ng-show="showUpdateForm(comment.id)">
    <div class="form-group">
        <textarea class="form-control" ng-model="message" id="commentUpdate-{{comment.id}}" rows="8" data-message="{{comment.message}}" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-comment"></i> Update</button>
    <button type="reset" ng-click="updateCommentReset()" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
</form>
<div class="clearfix"></div>