<header>
    <div class="pull-right">
        <span class="number">#{{comment.number}}</span>
        <button type="button" class="btn btn-default btn-xs" ng-click="newComment(comment.id)" ng-show="allowComments()"><i class="glyphicon glyphicon-comment"></i> Reply</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="editComment(comment.id)" ng-show="allowUpdate()"><i class="glyphicon glyphicon-edit"></i> Edit</button>
        <button type="button" class="btn btn-danger btn-xs" confirmed-click="deleteComment(comment.id)" ng-confirm-click="Are you sure you want to delete comment #{{comment.number}} by {{comment.user.username}}?" ng-show="allowDelete(comment.user.id)"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
    <a ng-href="#!/user/{{comment.user.id}}" bs-tooltip title="Profile of {{comment.user.username}}">{{comment.user.firstName}} {{comment.user.lastName}}</a><br>
    <time>{{comment.timestamp}}</time>
</header>
<span ng-bind-html="markdown(comment.message)" class="message" data-message="{{comment.message}}" ng-hide="showUpdateForm(comment.id)"></span>
<form ng-submit="updateComment(comment.id)" ng-show="showUpdateForm(comment.id)">
    <div class="form-group">
        <textarea class="form-control" ng-model="message" id="commentUpdate-{{comment.id}}" rows="8" data-message="{{comment.message}}" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-comment"></i> Update</button>
    <button type="reset" ng-click="updateCommentReset()" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
</form>