<ol class="breadcrumb">
    <li><a href="#!/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li><a href="#!/meetings">Meetings</a></li>
    <li class="active">{{meeting.name}}</li>
</ol>
<div class="page-header">
    <h1>Meeting <small>{{meeting.name}}</small></h1>
</div>
<div class="toolbar toolbar-top">
    <a ng-href="#!/meeting/{{meeting.id}}/edit" type="button" class="btn btn-default" ng-show="allowUpdate()"><i class="glyphicon glyphicon-edit"></i> Edit meeting</a>
    <a ng-href="#!/meeting/{{meeting.id}}/minutes" type="button" class="btn btn-default"><i class="glyphicon glyphicon-comment"></i> Minutes</a>
    <a ng-href="hop://{{meeting.room.grid.openSim.ip}}:{{meeting.room.grid.openSim.port}}/{{meeting.room.region.name}}/{{meeting.room.coordinates.x}}/{{meeting.room.coordinates.y}}/{{meeting.room.coordinates.z}}" class="btn btn-primary" title="Use the hop:// protocol to instruct your viewer to teleport your avatar to the meeting location. Or copy/paste this URL into your viewer's address bar." bs-tooltip><i class="glyphicon glyphicon-send"></i> Go to meeting</a>
    <button ng-click="teleportUser()" class="btn btn-primary" title="Teleport your avatar to the meeting location. Your avatar needs to be online on this grid." bs-tooltip><i class="glyphicon glyphicon-move"></i> Teleport avatar to meeting</button>
</div>
<table class="table table-striped table-responsive table-hover">
    <tr>
        <th class="col-sm-3"><strong>Meeting ID</strong></th>
        <td class="col-sm-9">{{meeting.id}}</td>
    </tr>
    <tr>
        <th><strong>Name:</strong></th>
        <td>{{meeting.name}}</td>
    </tr>
    <tr>
        <th><strong>Start/End</strong></th>
        <td>
            {{startTimeString}} - {{endTimeString}} @ {{startDateString}}
        </td>
    </tr>
    <tr>
        <th><strong>Created by</strong></th>
        <td><a href="#!/user/{{meeting.creator.id}}">{{meeting.creator.username}} ({{meeting.creator.firstName}} {{meeting.creator.lastName}})</a></td>
    </tr>
    <tr>
        <th><strong>Location</strong></th>
        <td>
            <p>
                <strong>Room</strong> {{meeting.room.name}} ({{meeting.room.id}})
                <br>{{meeting.room.description}}
            </p>
            <p><strong>Region</strong> {{meeting.room.region.name}}</p>
            <p><strong>Grid</strong> <a ng-href="#!/grid/{{meeting.room.grid.id}}">{{meeting.room.grid.name}}</a></p>
            <p><strong>URL</strong> <a ng-href="hop://{{meeting.room.grid.openSim.ip}}:{{meeting.room.grid.openSim.port}}/{{meeting.room.region.name}}/{{meeting.room.coordinates.x}}/{{meeting.room.coordinates.y}}/{{meeting.room.coordinates.z}}/" bs-tooltip title="Copy and paste this URL in the address bar of your OpenSim viewer">hop://{{meeting.room.grid.openSim.ip}}:{{meeting.room.grid.openSim.port}}/{{meeting.room.region.name}}/{{meeting.room.coordinates.x}}/{{meeting.room.coordinates.y}}/{{meeting.room.coordinates.z}}/</a>
        </td>
    </tr>
    <tr>
        <th><strong>Agenda</strong></th>
        <td ng-bind-html="meeting.agenda"></td>
    </tr>
    <tr>
        <th><strong>Documents</strong></th>
        <td>
            <p ng-repeat="document in meeting.documents">
                <span title="{{document.type}}" bs-tooltip>
                    <span class="label label-primary" ng-show="document.type == 'presentation'"><i class="glyphicon glyphicon-th-large"></i></span>
                    <span class="label label-info" ng-show="document.type == 'document'"><i class="glyphicon glyphicon-file"></i></span>
                    <span class="label label-danger" ng-show="document.type == 'image'"><i class="glyphicon glyphicon-picture"></i></span>
                </span>
                <a href="#!/document/{{document.id}}">{{document.title}} <small>({{document.creationDate}})</small></a>
            </p>
            <p ng-show="meeting.documents.length === 0">None</p>
        </td>
    </tr>
    <tr>
        <th><strong>Participants</strong></th>
        <td>
            <p ng-repeat="participant in meeting.participants">
                    <a href="#!/user/{{participant.id}}">{{participant.username}} ({{participant.firstName}} {{participant.lastName}})</a>
            </p>
            <p ng-show="meeting.participants.length === 0">None</p>
        </td>
    </tr>
</table>

<div ng-include src="showComments()"></div>