<div class="page-header">
    <h1>Minutes <small>{{meeting.name}}</small></h1>
</div>
<div class="toolbar toolbar-top">
    <a ng-href="#!/meeting/{{meeting.id}}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> Back to meeting</a>
</div>
<h2>Agenda</h2>
<div ng-bind-html="meeting.agenda"></div>
<h2>Minutes</h2>
<section id="minutes" class="heading-numbers">
    <div class="row row-striped row-hover" ng-repeat="(index, minute) in meeting.minutes">
        <div class="col-sm-12" ng-show="showAgendaNextItemHeading(index)" ng-bind-html="agendaNextItemHeading(index, minute)"></div>

        <div class="col-sm-2">
            <small>
                <span ng-show="minute.name == 'Server'" class="label label-info">{{timeOnly(minute.timestamp)}}</span>
                <span ng-hide="minute.name == 'Server'" class="label label-default">{{timeOnly(minute.timestamp)}}</span>
            </small>
            <strong>{{minute.name}}</strong></div>
        <div class="col-sm-10">{{minute.message}}</div>
    </div>
</section>
