<div class="page-header">
    <h1>Meeting <small>Schedule a new meeting</small></h1>
</div>
<div class="row">
    <div class="col-sm-9">
        <form class="form-horizontal" role="form" id="meetingForm" ng-submit="createMeeting()">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputStartDate"><i class="glyphicon glyphicon-calendar"></i> Start</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputStartDate" ng-model="startDateString" data-min-date="{{todayDateString}}"  ng-change="updateCalendar()" data-autoclose="1" data-date-type="string" required pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" placeholder="Start date (yyyy/mm/dd)" bs-datepicker>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputStartTime" ng-model="startTimeString" data-autoclose="1" data-time-type="string" required pattern="[0-9]{2}:[0-9]{2}" placeholder="Start time (hh:mm)" bs-timepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputEndDate"><i class="glyphicon glyphicon-calendar"></i> End</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputEndDate" ng-model="endDateString" data-min-date="{{startDateString}}" data-date-type="string" required pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" data-autoclose="1" placeholder="End date (yyyy/mm/dd)" bs-datepicker>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputEndTime" ng-model="endTimeString" data-min-time="{{startTimeString}}" data-time-type="string" data-autoclose="1" required pattern="[0-9]{2}:[0-9]{2}" placeholder="End time (hh:mm)" bs-timepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputGrid">Grid</label>
                <div class="col-sm-10">
                    <select id="inputGrid" class="form-control" ng-model="meeting.room.grid.id" ng-options="grid.id as grid.name for grid in grids" required></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputRegion">Region</label>
                <div class="col-sm-10">
                    <select id="inputRegion" class="form-control" ng-model="meeting.room.region.uuid" ng-options="region.uuid as region.name for region in grids[selectedGridIndex()].regions" ng-change="getMeetingRooms()" required></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="inputRegion">Rooms</label>
                <div class="col-sm-10">
                    <select id="inputRegion" class="form-control" ng-model="meeting.room.id" ng-options="room.id as room.id for room in rooms" required></select>
                </div>
            </div>
            <fieldset>
                <legend>Participants (<span>{{meeting.participants.length}}</span>)</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Participants</label>
                    <div class="col-sm-10">
                        <ul class="list-group list-group-hover" ng-show="meeting.participants.length >= 1">
                            <li class="list-group-item" ng-repeat="participant in meeting.participants">
                                <button type="button" class="btn btn-danger btn-xs" ng-click="removeParticipant(participant.id)"><i class="glyphicon glyphicon-remove"></i></button>
                                {{participant.username}} ({{participant.firstName}} {{participant.lastName}})
                            </li>
                        </ul>
                        <ul class="list-group" ng-show="meeting.participants.length == 0">
                            <li class="list-group-item">None</li>
                        </ul>
                        <div class="input-group">
                            <input type="text" class="form-control" value="" placeholder="Username to add" ng-model="participant" ng-options="user.username as user.username for user in getUserByUsername($viewValue)" bs-typeahead>
                            <span class="input-group-btn" ng-click="addParticipant()"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add user</button></span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" ng-show="allowCreate()">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok"></i> Save Changes</button>
                    <button class="btn btn-danger" type="button" ng-click="resetUser()"><i class="glyphicon glyphicon-remove"></i> Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
        <h4 class="calendar-date"></h4>
        <div class="calendar-container">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<script src="templates/restangular/js/libs/bootstrap-calendar.js" type="text/javascript"></script>