<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /OpenSim-CMS/api
    RewriteCond %{REQUEST_FILENAME} !-f
    Options -MultiViews
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    # Default for files 1 hour after access
    ExpiresDefault "access plus 1 hour"
    # 0 seconds after access for json
    ExpiresByType application/json "A0"
</IfModule>