<?php
    define('EXEC',                      '1');                                   // Simple check if file is accessed correctly
    // Mail settings
    define('CMS_ADMIN_EMAIL',           'no-reply@OpenSim-CMS.com');            // The sender's email of OpenSim CMS emails
    define('CMS_ADMIN_NAME',            'OpenSim-CMS');                         // The sender's name of OpenSim CMS emails
    // Server settings
    define('SERVER_DEBUG',              TRUE);                                  // Show debugging output
    define('SERVER_PHP_ERRORS',         TRUE);                                  // Show PHP errors (error_reporting)
    define('SERVER_TIMEOUT',            300);                                   // Time in seconds before the server timesout
    define('SERVER_PROTOCOL',           'http');                                // use HTTP or HTTPS
    define('SERVER_ADDRESS',            'localhost');                           // server address, can also be an IP
    define('SERVER_PORT',               80);                                    // server port
    define('SERVER_ROOT',               '/OpenSim-CMS');                        // server root directory
    define('SERVER_API_TOKEN_EXPIRES',  '30 minutes');                          // Time a token is valid after last usage (used by strtotime)
    define('SERVER_API_TOKEN_EXPIRES2', '1 day');                               // Time a token is valid for OpenSim (used by strtotime)
    define('SERVER_MIN_USERNAME_LENGTH', 6);                                    // Minimum length for the username
    define('SERVER_MIN_PASSWORD_LENGTH', 8);                                    // Minimum length for the password
    // DB connection settings
    $DB_USERNAME                        = '';                                   // Database username
    $DB_PASSWORD                        = '';                                   // Database password
    $DB_NAME                            = '';                                   // Database name
    $DB_ADDRESS                         = 'localhost';                          // Database host
    $DB_PORT                            = 3306;                                 // Database port

    // Files settings
	define('FILES_LOCATION',            'C:\\Soas\\www\\storage');              // Absolute path to storage directory
    define('TEMP_LOCATION',             'C:\\Soas\\www\\temp');                 // Absolute path to tmp folder
	define('DS',                        '\\');                                  // Directory separator

    // Max upload limits
    ini_set('post_max_size',            '16M');                                 // Max post size
    ini_set('upload_max_filesize',      '16M');                                 // Max file size

    // Image settings
    define('IMAGE_THUMBNAIL_WIDTH',     256);                                   // width of thumnails
	define('IMAGE_THUMBNAIL_HEIGHT',    256);                                   // height of thumnails
	define('IMAGE_WIDTH',               1024);                                  // Texture width in OpenSim, used to resize presentations
	define('IMAGE_HEIGHT',              1024);                                  // Texture height in OpenSim, used to resize presentations
    define('IMAGE_TYPE',                'jpg');                                 // File type to store images in

    // PHP Settings
    date_default_timezone_set("Europe/Amsterdam");                              // see: http://www.php.net/manual/en/timezones.php

 // DO NOT TOUCH SETTINGS BELOW THIS POINT UNLESS YOU KNOW WHAT YOU ARE DOING -----------------------------------------------------------------------
    require_once dirname(__FILE__) .'/includes/class.MysqliDb.php';             // MySQL class
    require_once dirname(__FILE__) .'/includes/class.Helper.php';               // Additional helper functions
    require_once dirname(__FILE__) .'/includes/class.OpenSimRPC.php';           // Creates calls for the remote admin functions of OpenSim

    // MySQL settings
    $db = new Mysqlidb($DB_ADDRESS, $DB_USERNAME, $DB_PASSWORD, $DB_NAME, $DB_PORT);// Connect to MySQL database
    \Helper::setDB($db);                                                         // Save database to static class to be accessed by the rest of the program

    // Show php errors
    if(SERVER_PHP_ERRORS !== FALSE) {
        error_reporting(E_ALL);
        ini_set('display_errors', 'on');
    } else {
        error_reporting(0);
        ini_set('display_errors', 'off');
    }
    // Set server timeout
    set_time_limit(SERVER_TIMEOUT);